@charset "UTF-8";

/* Variable */
:root {
    --tertiary-color: #CBC5F1;
}

/* Add more radio color */
/* primary, secondary, tertiary */
input:is([type="checkbox"], [type="radio"]).tertiary {
    background-image: url(../img/unchecked-tertiary.svg);
}

input:is([type="checkbox"], [type="radio"]).tertiary:checked {
    background-image: url(../img/checked-tertiary.svg) !important;
}

input:is([type="checkbox"], [type="radio"]).tertiary ~ .label-inline {
    color: var(--tertiary-color) !important;
}