/* ==========================================================================
   #CUSTOM THEME CSS
   ========================================================================== */

.logo {
   @include replace-text-with-img("logo.png", center center, 400px, 111px, .4);
   margin-bottom: 0;

   @include mq(tablet-wide) {
      @include replace-text-with-img("logo.png", center center, 400px, 111px, .6);
   }
}

.language {

   .dropdown-toggle, .dropdown-item {
      color: $font-black-color;
      font-size: 1.4rem;

      span {
         margin-left: 5px;
      }
   }

   .dropdown-item:focus, .dropdown-item:hover {
      background-color: $secondary-light-color;
   }

   .dropdown-menu {
      background-color: #fff;
      border: none;
   }
}

.hero {

   .home-img {
      max-width: 400px;
      width: 100%;
   }

   .title {
      color: $primary-color;
      font-weight: 800;
      font-size: 6.5rem;
      line-height: 1.1;

      @include mq(tablet-wide) {
         font-size: 8rem;
      }
   }

   .lead {
      color: $primary-color;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.4;
      margin-bottom: 0;

      b {
         font-weight: 600;
         white-space: nowrap;
      }

      @include mq(tablet-wide) {
         font-size: 1.4em;
      }
   }
}

.login {

   margin: 0 auto;
   width: 100%;
   max-width: 520px;

   .form-control {
      border: none;
      border-radius: $input-border-radius 0 0 $input-border-radius;
      font-size: 1em;
      color: $primary-color;
      padding: 15px 25px;
      margin-bottom: 0;
      @include input-placeholder {
         color: $placeholder-font-color;
      }
   }

   .btn {
      border: none;
      border-radius: 0 $input-border-radius $input-border-radius 0;
      font-size: 1em;
      background-color: $primary-color;
      color: #fff;
      padding: 15px 25px !important;
      font-weight: 600;
      margin: 0;
   }

   .invalid-tooltip {
      font-size: .8em;
      background-color: rgba(255, 145, 120, .8);
      padding: 5px 20px;
      width: 100%;
      margin-top: 3px;
   }

   .form-control.is-invalid, .was-validated .form-control:invalid,
   .form-control.is-valid, .was-validated .form-control:valid {
      background-image: none;
   }

}

.info-text {

   p {
      color: $font-black-color;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.4;

      b {
         font-weight: 600;
         white-space: nowrap;
      }
   }

   .highlight {
      color: $highlight-color;
      font-weight: 800;
   }

   .article {
      @include mq(tablet-wide) {
         grid-template-columns: repeat(4, 1fr);
      }
   }

}

.instructions-page {

   .language {
      display: none;
   }

   .hero {

      .instructions-img {
         max-width: 800px;
         width: 100%;
      }

      .lead {
         color: $font-black-color;
         font-weight: 400;
         font-size: 1.2em;
         line-height: 1.4;
      }
   
      .highlight {
         color: $highlight-color;
         font-weight: 800;
      }
   }

   .info-text {
      p {
         border-left: 3px solid $highlight-color;
         padding-left: 1em;
      }
   }

   .article {
      max-width: 800px;
      width: 100%;

      @include mq(tablet-wide) {
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
      }
   }
}

.thanks-page {
   background-image: linear-gradient(315deg, rgb(255,199,196) 0%, rgb(255,255,255) 100%);

   .content {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
   }
}