/* ==========================================================================
   #CUSTOM THEME CSS
   ========================================================================== */

.logo {
   @include replace-text-with-img("logo.png", center center, 400px, 111px, .4);
   margin-bottom: 0;

   @include mq(tablet-wide) {
      @include replace-text-with-img("logo.png", center center, 400px, 111px, .6);
   }
}

.language {

   .dropdown-toggle, .dropdown-item {
      color: $font-black-color;
      font-size: 1.4rem;

      span {
         margin-left: 5px;
      }
   }

   .dropdown-item:focus, .dropdown-item:hover {
      background-color: $secondary-light-color;
   }

   .dropdown-menu {
      background-color: #fff;
      border: none;
   }
}

.hero {

   .home-img {
      max-width: 400px;
      width: 100%;
   }

   .title {
      color: $primary-color;
      font-weight: 800;
      font-size: 6.5rem;
      line-height: 1.1;

      @include mq(tablet-wide) {
         font-size: 8rem;
      }
   }

   .lead {
      color: $primary-color;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.4;
      margin-bottom: 0;

      b {
         font-weight: 600;
         white-space: nowrap;
      }

      @include mq(tablet-wide) {
         font-size: 1.4em;
      }
   }
}

.cover {
   min-height: 300px;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   position: relative;

   @include mq(tablet-wide) {
      min-height: 400px;
   }

   @include mq(desktop) {
      min-height: 550px;
   }
}

.progress {
   position: absolute;
   display: block;
   height: 60px;
   width: 60px;
   bottom: 10px;
   right: 30px;
   background-color: $secondary-light-color;
   border-radius: 100px;
   text-align: center;
   z-index: 300;
   overflow: inherit;

   .progress-bar {
      position: absolute;
      left: 50%;
      bottom: 50%;
      background-color: $primary-color;
      display: block;
      width: 2px;
      height: 40px;
      z-index: 350;
      transform-origin: bottom;
   }

   .text {
      color: darken($secondary-color, 10%);
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 90px;
      padding-left: 5px;
      position: relative;
      z-index: 400;
   }

   @include mq(tablet) {
      height: 80px;
      width: 80px;
      bottom: -10px;
      right: 10vw;

      .progress-bar {
         height: 60px;
      }

      .text {
         font-size: 1.4rem;
         line-height: 115px;
      }
   }
}

.question {

   .topic {
      font-size: 1.2em;
      font-weight: 800;
      text-align: center;
      white-space: nowrap;

      @include mq(tablet) {
         font-size: 1.4em;
      }

      @include mq(desktop) {
         font-size: 1.8em;
      }
   }

   &:has(.has-validation) {
      outline: 2px dotted rgba(255,145,120,0.6) !important;
      border-radius: 15px;
   }
}

.login {

   margin: 0 auto;
   width: 100%;
   max-width: 520px;

   .form-control {
      border: none;
      border-radius: $input-border-radius 0 0 $input-border-radius;
      font-size: 1em;
      color: $primary-color;
      padding: 15px 25px;
      margin-bottom: 0;
      @include input-placeholder {
         color: $placeholder-font-color;
      }
   }

   .btn {
      border: none;
      border-radius: 0 $input-border-radius $input-border-radius 0;
      font-size: 1em;
      background-color: $primary-color;
      color: #fff;
      padding: 15px 25px !important;
      font-weight: 600;
      margin: 0;
   }

   .invalid-tooltip {
      font-size: .8em;
      background-color: rgba(255, 145, 120, .8);
      padding: 5px 20px;
      width: 100%;
      margin-top: 3px;
   }

   .form-control.is-invalid, .was-validated .form-control:invalid,
   .form-control.is-valid, .was-validated .form-control:valid {
      background-image: none;
   }

}

.site-content {

   p {
      color: $font-black-color;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.4;

      b {
         font-weight: 600;
         white-space: nowrap;
      }
   }

   .highlight {
      color: $highlight-color;
      font-weight: 800;
   }

   .article {
      @include mq(tablet-wide) {
         grid-template-columns: repeat(4, 1fr);
      }
   }

}

.instructions-page {

   .language {
      display: none;
   }

   .hero {

      .instructions-img {
         max-width: 800px;
         width: 100%;
      }

      .lead {
         color: $font-black-color;
         font-weight: 400;
         font-size: 1.2em;
         line-height: 1.4;
      }
   
      .highlight {
         color: $highlight-color;
         font-weight: 800;
      }
   }

   .site-content {
      p {
         border-left: 3px solid $highlight-color;
         padding-left: 1em;
      }
   }

   .article {
      max-width: 800px;
      width: 100%;

      @include mq(tablet-wide) {
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
      }
   }
}

.demographic-page {
   background-color: #fff;

   .language {
      display: none;
   }

   .site-header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
   }

   .topic {
      white-space: inherit;

      @include mq(desktop) {
         margin-bottom: 2rem !important;
      }
   }

   .question {
      padding: 1rem;

      @include mq(desktop) {
         padding: 2rem;
      }

      &:has(input:is([type="checkbox"], [type="radio"])) {
         &:hover, &:focus, , &:focus-visible {
            outline: 2px dotted rgba(0,0,0,.1);
            border-radius: 15px;
         }
      }

      .d-horizontal {
         @include mq(desktop) {
            display: flex;
            justify-content: space-between;

            &.h-2-col {
               flex-wrap: wrap;
               
               .group {
                  flex-basis: calc(100% / 2);
               }

               &:after {
                  content: "";
                  flex: auto;
               }
            }

            &.h-3-col {
               flex-wrap: wrap;
               
               .group {
                  flex-basis: calc(100% / 3);
               }

               &:after {
                  content: "";
                  flex: auto;
               }
            }
         }
      }
   }
   
   .site-content {
      max-width: 600px;
      width: 100%;

      @include mq(desktop) {
         max-width: 1000px;
      }

      .hr {
         height: 2px;
         background-color: #aaa;
         margin-block: 3rem;
      }
   }

   .cta {
      text-transform: uppercase;
   }

   .has-validation {

      .invalid-tooltip {
         display: block;
         font-size: .8em;
         background-color: rgba(255,145,120,1);
         padding: 5px 20px;
         width: 100%;
         margin-top: 3px;
      }
   }

}

.likert-page {
   background-color: #fff;

   .language {
      display: none;
   }

   .site-header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
   }

   .topic {
      white-space: inherit;

      @include mq(desktop) {
         margin-bottom: 3rem !important;
      }
   }

   .group {
      justify-content: center;
      margin-bottom: 0;
   }

   .question {
      padding: 1rem 0 0;

      &:has(.has-validation) {
         padding-bottom: 2.5rem;
      }
      // &:has(.has-validation.no-opinion) {
      //    padding-bottom: 1rem;
      // }

      @include mq(desktop) {
         padding: 2rem;
      }

      fieldset {
         display: flex;
         justify-content: space-between;

         @include mq(desktop) {
            padding: 2rem 0;
         }

         .group {
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            min-width: 60px;
            flex: 0 1 calc(100% / 6);

            input:is([type="checkbox"], [type="radio"]) {
               margin-right: 0;

               ~ .label-inline {
                  opacity: 0;

                  &.active {
                     opacity: 1;
                  }
               }
            }

            &:nth-child(1), &:nth-child(6) {

               input:is([type="checkbox"], [type="radio"]) {
                  width: 3.5em;
                  height: 3.5em;
               }
            }

            &:nth-child(2), &:nth-child(5) {

               input:is([type="checkbox"], [type="radio"]) {
                  width: 2.8em;
                  height: 2.8em;
               }
            }
         }
      }

      &:has(input:is([type="checkbox"], [type="radio"])) {
         &:hover, &:focus, , &:focus-visible {
            outline: 2px dotted rgba(0,0,0,.1);
            border-radius: 15px;
         }
      }

      input:is([type="checkbox"], [type="radio"]) {

         &:checked {
            background-image: url(#{$img-path}/checked.svg);
         }

         ~ .label-inline {
            color: $font-black-color;
            font-weight: 600;
            font-size: .8em;
            line-height: 1.2;
            min-width: 40px;
            min-height: 36px;
            padding-top: 5px;

            @include mq(desktop) {
               font-size: 1em;
            }
         }
         
         &.secondary {
            background-image: url(#{$img-path}/unchecked-secondary.svg);

            &:checked {
               background-image: url(#{$img-path}/checked-secondary.svg);
            }

            ~ .label-inline {
               color: $secondary-color;
               font-weight: 600;
            }
         }
      
         &.primary {
            background-image: url(#{$img-path}/unchecked-primary.svg);

            &:checked {
               background-image: url(#{$img-path}/checked-primary.svg);
            }

            ~ .label-inline {
               color: $primary-color;
               font-weight: 600;
            }
         }
      }
   }
   
   .site-content {
      max-width: 600px;
      width: 100%;

      @include mq(desktop) {
         max-width: 1000px;
      }

      .hr {
         height: 2px;
         background-color: #aaa;
         margin-block: 3rem;
      }
   }

   .cta {
      text-transform: uppercase;
   }

   .has-validation {

      .invalid-tooltip {
         display: block;
         font-size: .8em;
         background-color: rgba(255,145,120,1);
         padding: 5px 20px;
         width: 100%;
         margin-top: 53px;
      }

      &.no-opinion {

         .invalid-tooltip {
            margin-top: 10px;
         }
      }
   }

}

.feedback-page {
   background-color: #fff;

   .language {
      display: none;
   }

   .site-header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
   }

   .topic {
      font-size: 1.2em;
      font-weight: 800;
      text-align: center;
      white-space: nowrap;

      @include mq(tablet) {
         font-size: 1.4em;
      }

      @include mq(desktop) {
         font-size: 1.8em;
      }
   }

   .best {
      .topic {
         color: $primary-color;
      }
      .form-control {
         border-color: $primary-color;

         @include input-placeholder {
            color: $primary-color;
         }
      }
   }

   .worst {
      .topic {
         color: $secondary-color;
      }

      .form-control {
         border-color: $secondary-color;

         @include input-placeholder {
            color: $secondary-color;
         }
         
         &:focus {
            box-shadow: 0 0 0 0.25rem rgba(251,200,180,.3);
         }
     }
   }
   
   .site-content {
      max-width: 600px;
      width: 100%;

      @include mq(desktop) {
         max-width: 1000px;
      }

      .hr {
         height: 2px;
         background-color: #aaa;
         margin-block: 5rem;
      }

      .form-control {
         border-radius: 15px;
         height: 150px;
         padding: 15px 20px;
         font-size: 1em;
      }
   }

   .cta {
      text-transform: uppercase;
   }

}

.thanks-page {
   background-color: $secondary-color;

   .language {
      display: none;
   }

   .site-header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
   }

   .thanks-img {
      display: flex;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      object-position: center;
   }
}